{%extends 'base.html'%}
{%block content%}
<div class="row m-5" style=border: solid green 2px
        <h1 class='text-center'>{{blog.title}}</h1>
        <li class="list-group-item">
          {% if blog.image %}
            <img src="{{blog.image.url}}" width="300" height="300"style="border: solid green 2px; border-radius:100px;margin-right:10px" />
          {% endif %}
        <p>{{blog.text}}</p>
        <h4>Коментарии<h4>
          {%for comment in comments%}
          <p>{{comment.user.username}}:{{comment.text}}</p>
          {%endfor%}
            <form method="post">
              {{form.as_p}}
              {%csrf_token%}
              <button type='submit'>Отправить коментарий</button>
          </form>
</div>
  {%endblock%}
